<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="main" style="width:800px; margin:0 auto; margin-top: 50px;">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Add a New User</span>
            <a href="/">Home</a>
        </nav>

        <form action="/add/new" method="post">
            <div class="form-group">

                {% with messages = get_flashed_messages() %}     
                    {% if messages %}                            
                        {% for message in messages %}            
                        <p style="color:red">{{message}}</p><br>
                        {% endfor %}                   
                    {% endif %}
                {% endwith %}
    
                <input type="hidden" name="id"class="form-control" value="{{session.id}}" >
            </div>
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name"class="form-control"  value="{{session.first_name}}" >
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" class="form-control"  value="{{session.last_name}}">
            </div>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="text" name="email" class="form-control" value="{{session.email}}">
            </div>
            <div style="margin-top:20px; display:flex; gap:10px;align-items:center;">
            <button type="submit" class="btn btn-primary">Add User</button>
            </div>
        </form>

    </div>

    
</body>
</html>